{% extends 'emails/base.html.twig' %}

{% block title %}E-Mail Best채tigung{% endblock %}

{% block content %}
<p>Hallo {{ user.firstName }},</p>

<p>bitte best채tige deine E-Mail-Adresse durch Klick auf den folgenden Button:</p>

<a href="{{ signedUrl }}" class="button">E-Mail best채tigen</a>

<p>Der Link ist 24 Stunden g체ltig.</p>
{% endblock %}
