<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/email.css' />
</head>
<body>
    <div class="email-container">
        <div class="email-header">
            <h1>Neue Videos verfügbar</h1>
        </div>
        <div class="email-content">
            <p>Hallo,</p>
            
            <p>es wurden neue Videos in der Kaderblick-Mediathek hochgeladen.</p>
            
            {% if files|length > 0 %}
                <div class="video-list">
                    <h3>📹 Hochgeladene Videos:</h3>
                    <ul>
                        {% for file in files %}
                            <li><a href="{{ file.url }}" class="text-primary-color">>
                                {% if file.name %}
                                    {{ file.name }}
                                {% else %}
                                    Unbekannter Dateiname
                                {% endif %}
                            </a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="email-text-center">
                <a href="{{ folderUrl }}" class="email-button">Zum Ordner</a>
            </div>

            <p>Sportliche Grüße<br>Dein Team von Kaderblick</p>
        </div>
        <div class="email-footer">
            <p>Diese E-Mail wurde automatisch generiert. Bitte antworte nicht darauf.</p>
            <p>&copy; {{ "now"|date("Y") }} Kaderblick. Alle Rechte vorbehalten.</p>
        </div>
    </div>
</body>
</html>
