<!DOCTYPE html>
<html lang="de">
  <head>
      <meta charset="UTF-8">
      <title>Google Login</title>
  </head>
  <body>
    <script>
      // Informiere das Hauptfenster über den Login-Erfolg
      if (window.opener) {
        window.opener.postMessage('google-login-success', '*');
        window.close();
      } else {
        document.write('Login erfolgreich. Du kannst dieses Fenster schließen.');
      }
    </script>
  </body>
</html>
