{% extends 'base.html.twig' %}

{% block title %}Konto bestätigen{% endblock %}

{% block body %}
<h1>Konto bestätigt</h1>
<p>Vielen Dank, dein Konto wurde erfolgreich verifiziert und freigeschaltet. Du kannst dich jetzt <a href="/login">einloggen</a>.</p>
{% endblock %}
