{% extends 'base.html.twig' %}

{% block title %}News erfolgreich erstellt{% endblock %}

{% block body %}
<div class="container">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Erfolgreich!</h4>
        <p>{{ message }}</p>
    </div>
    
    <a href="{{ path('app_news_index') }}" class="btn btn-primary">Zu den News</a>
    <a href="{{ path('app_news_create') }}" class="btn btn-secondary">Weitere News erstellen</a>
</div>
{% endblock %}
