<div id="calendar-widget-{{ widget.id }}" class="small-calendar"></div>

<script>
    var calendarEl = document.getElementById('calendar-widget-{{ widget.id }}');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        dateClick: function(info) {
            window.location.href = `/calendar?view=day&date=${info.dateStr}`;
        },
        locale: 'de',
        height: 'auto',
        headerToolbar: {
            left: 'prev',
            center: 'title',
            right: 'next'
        },
        firstDay: 1,
        events: '{{ path('api_calendar_events') }}',
        eventDidMount: function(info) {
            console.log(info);
            console.log("Date: ", info.event.start);
            const status = info.event.extendedProps.participation_status;
            let iconHtml = '';

            if (status && status.icon) {
                iconHtml = `<span class="event-status-icon" style="position: absolute; top: 0px; right: 0px;" title="${status.name}"><i class="fa fa-${status.icon}"></i></span>`;
            } else if (status && status.code) {
                iconHtml = `<span class="event-status-dot" title="${status.name}" style="background:${status.color||'#888'}; position: absolute; top: 0px; right: 0px;"></span>`;
            }
            
            if (! iconHtml) {
                const iconHtml = `<span class="event-status-icon" style="position: absolute; top: 0px; right: 0px;" title="Keine Antwort"><i class="fas fa-question-circle text-secondary"></i></span>`;
            }

            const titleEl = info.el.querySelector('.fc-daygrid-event-harness') || info.el;
            titleEl.insertAdjacentHTML("beforeend", iconHtml);
            const date = new Date(info.event.start);
            const cellEl = info.el;
            cellEl.style.cursor = 'pointer';
            cellEl.addEventListener('click', () => {
                window.location.href = `/calendar?view=day&date=${convertDate(date)}`;
            });
        },
    });
    calendar.render();

    function convertDate(dateStr) {
        const yyyy = dateStr.getFullYear();
        const mm = String(dateStr.getMonth() + 1).padStart(2, '0'); // Monat (06)
        const dd = String(dateStr.getDate()).padStart(2, '0');      // Tag (30)
        const yyyyMmDd = `${yyyy}-${mm}-${dd}`;

        return yyyyMmDd;
    }
</script>

<style>
.small-calendar {
    min-height: 300px;
}
</style>
