<div id="calendar-widget-{{ widget.id }}" class="small-calendar"></div>

<script>
    var calendarEl = document.getElementById('calendar-widget-{{ widget.id }}');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        dateClick: function(info) {
            window.location.href = `/calendar?view=day&date=${info.dateStr}`;
        },
        locale: 'de',
        height: 'auto',
        headerToolbar: {
            left: 'prev',
            center: 'title',
            right: 'next'
        },
        events: '{{ path('api_calendar_events') }}',
        dayCellDidMount: function(info) {
            console.log(info);
            const date = new Date(info.date);
            const cellEl = info.el;
            cellEl.style.cursor = 'pointer';
            cellEl.addEventListener('click', () => {
                window.location.href = `/calendar?view=day&date=${convertDate(date)}`;
            });
        },
    });
    calendar.render();

    function convertDate(dateStr) {
        const yyyy = dateStr.getFullYear();
        const mm = String(dateStr.getMonth() + 1).padStart(2, '0'); // Monat (06)
        const dd = String(dateStr.getDate()).padStart(2, '0');      // Tag (30)
        const yyyyMmDd = `${yyyy}-${mm}-${dd}`;

        return yyyyMmDd;
    }
</script>

<style>
.small-calendar {
    min-height: 300px;
}
</style>
