###> symfony/framework-bundle ###
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

client_secret*

# Ignore all PHP files containing "test" except in tests directory
test*.php
*test*.php
*Test*.php
!tests/**/*.php
!/config/secrets/test/*.php

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/config/secrets/*/dev.decrypt.private.php
/config/secrets/*/prod.decrypt.private.php
/config/secrets/*/test.decrypt.private.php
/config/secrets/*/dev.decrypt.*.php
/config/secrets/*/prod.decrypt.*.php
/config/secrets/*/test.decrypt.*.php
/public/bundles/
/var/
/vendor/
/public/uploads/*
/certs
